/* 改变主题色变量 */

$--color-primary: #CDAF28;

/* 改变 icon 字体路径变量，必需 */

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog__header {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.el-dialog__title {
  font-size: 14px;
  line-height: 14px;
}

.el-dialog__headerbtn {
  top: 10px;
  right: 10px;
}
.el-dialog__body {
	padding-top: 25px;
  .el-checkbox__label {
    display: none;
  }
  .el-radio__label {
    display: none;
  }
}
.imgdialog {
  .el-dialog__body {
    padding: 0;
  }
}
.el-tree-node__expand-icon:before {
	content: ' ';
}
// .product-wrapper-item .el-checkbox__label {
//   display: none;
// }
// .product-wrapper-item .el-radio__label, .el-checkbox__label {
//   display: none;
// }
.colorpick .el-color-picker {
  height: 20px;
}
.colorpick .el-color-picker__trigger {
  height: 20px;
  width: 36px;
  padding: 3px;
}
// .product-tip-inputradio .el-radio__label {
//   display: none;
// }
// .activity-wrapper .el-radio__label {
//   display: none;
// }
// .coupon-box .el-radio__label {
//   display: none;
// }
.product-tip-inputradio {
  .el-input__inner {
    padding: 0;
    background-color: #F2F2F2;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}
.activity-filter {
  .el-radio + .el-radio {
    margin-left: 15px;
  }
  .el-radio__label {
    padding-left: 5px;
  }
}
.el-color-picker__icon {
  display: none;
}